{% extends '::admin.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    Home
                </div>
            </div>
        </div>
    </div>
{% endblock %}